<!DOCTYPE html>
<html>

  <title>Results</title>


 <body>

   <h1 class="logo">Results</h1>
   <div class="Results">
  <ul>
   {% for key, value in data.iteritems() %}
    <li>{{key}}:{{value}}</li>
   {% endfor %} 
  </ul>
  </div>



 </body>
</html>