<!doctype HTML>

<html lang="en">
<head>
  <title> Magic Land! </title>
</head>
<body>
  <h1>Hello <%= name %>!</h1>
  <h2>Register here</h2>
  <form action="/register">
    Enter name:<br>
    <input type="text" name="name"><br>
    Enter whatever:<br>
    <input type="text" name="misc"><br>
    <input type="submit" value="submit">
  </form>
</body>
</html>
